body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper{
    background: url(school.jpeg)
    no-repeat center center;
    min-height: 30rem;
}
nav{
    width: 100%;
    height: 80%;
    background-color: #0005;
    line-height: 500%;
    
}

.image{
    width:6%;
    margin-top: 0%;
}

nav ul{
    float: right;
    margin: 0;
    margin-right: 1.9rem;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
}

img{
    width: 14%;
    margin-left: 1.9rem;
    margin-top: -4%;
}

nav ul li:hover{
    background-color: coral;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}

.section{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 4%;
}

.section h1{
    color:aquamarine;
    line-height: 120%;
}



.btn-1{
    background-color: orangered;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10%;
}

.features{
    margin-top: 4%;
    margin-bottom: 2%;
}

.features button{
    padding: 0.7rem 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    opacity: 0.7;
}

showcase h1{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: red;
}


#courses{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: black;

}

#courses img{
    width: 250px;
    border-radius: 10px;
    border: 2px solid #000;
    margin: auto;
}

.apply{
    margin-top: 4%;
    background-color: orangered;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.2rem;
    margin-top: 4%;
}


